/* styling for the body */
body {
    font-family: 'Vollkorn', sans-serif;
    margin: 0;
    background-color: #0a0a0a;
    color: rgb(214, 214, 214);
    padding: 56px;
    border-top: 13px solid #3a3a3a;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0;
}

section {
    margin: 50px auto;
}
hr {
    border: none;
    border-bottom: 1px solid #666666;
}

/* header styling starts here */
header {
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 48px 0 0 0;
    margin-bottom: 48px;
    border-top: 10px;
}

/* image styling */
header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* heading styling */
header h1 {
    font-weight: 900;
    padding: 0;
    margin: 20px 0 -10px 0 ;
    color: #FFFFFF;
    font-size: 1.65em;
    line-height: 0.5;
}

/* paragraph styling */
header p {
    line-height: 1.3;
    font-size: 2.13rem;
    padding: 0 75px;
    margin-bottom: 60px;
}

/* header divider */
header hr {
    background-color: #3a3a3a00;
    height: 4px;
    border-top: none;
    border-bottom: 3px double #6f6f6f;
    border-left: none;
    border-right: none;
}

/* links styling */
a {
    text-decoration: none;
    transition: color 150ms ease-in-out;
}

a:link {
    color: yellow;
}
a:visited {
    color: yellow;
}
a:hover {
    color: grey;
}
a:active {
    color: rgb(66, 33, 33);
}
/* header styling ends here */



/* container styling starts here. content in grid blocks */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-row-gap: 24px;
    grid-column-gap: 25px;
}

.grid-item {
    background-color:#3a3a3a00;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    height: auto;
    min-height: 300px;
}

.grid-item img:hover {
    opacity: 0.65;
}

/* grid img styling starts here */
.grid-img {
    width: auto;
    max-height: 100%;
    height: auto;
}

.grid-img span {
    padding-top: 3px;
    display: block;
    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 0.7em;
    color: #808080;
}


/* heading styling */
h2 {
    font-weight: 700;
    color: #fff;
    font-size: 2.9375rem;
    text-align: center;
    margin-bottom: 16px;
}

h3 {
    font-weight: 400;
    color: yellow;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 1.6em;
}

/* photography grid content styling starts here */
.grid-container-photography {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-item img {
    width: auto;
    max-width: 100%;
    height: auto;
}

.grid-item12 {
    grid-row: span 2;
    grid-column: span 2;
}



/* album grid content styling starts here */
.grid-container-albums {
    grid-column-gap: 25px;
    grid-row-gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.grid-container-albums .grid-item {
    width: auto;
    max-width: 100%;
    height: auto;
}

/* album grid text styling starts here */
.grid-container-albums .grid-img {
    text-align: center;
    font-size: 1.2em;
}
.grid-container-albums .grid-img h3 {
    font-size: 1em;
}

/* album grid content ends here */


/* footer spacing starts here */
footer {
    display: flex;
    margin: 0;
    padding: 0;
}

/* footer content styling */
nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
}

nav li {
    list-style: none;
    font-size: 1.25em;
    margin-right: 20px;
}

.footer-container {
    padding: 50px 0;
}
footer div {
    height: auto;
    width: 100%;
    display: flex;
    font-size: 1.25em;
    align-items: flex-end;
    justify-content: flex-end;
}
/* footer content styling ends here */

/* responsive design starts here */
@media (max-width: 990px) {

    body {
        padding: 56px;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        grid-gap: 24px;
    }
    .header p {
        font-size: 1em;
    }
}

@media (max-width: 767px) {
    .header p {
        font-size: 0.8em;
    }
    .footer-container {
        display: block;
        text-align: center;
    }
    nav {
        display: block;
        text-align: center;
        width: 100%;
    }
    .copyright {
        display:block;
        justify-content: center;
        width:100%;
    }
    footer {
        display: block;
        justify-content: center;
        text-align: center;
    }
    nav ul {
        justify-content: center;
    }
}

@media (max-width: 480px) {

    body {
        padding: 40px;
    }

    .header p {
        font-size: 0.85em;    
        padding: 0px;
        line-height: 1.3;
    }

    h2 {
        font-weight: 700;
        color: #fff;
        font-size: 2.6rem;
        text-align: center;
        margin-bottom: 16px;
    }

    header img {
        margin: 0% auto;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item12 {
        grid-row: span 1;
        grid-column: span 1;
    }

    .grid-container-photography {
        grid-template-columns: 1fr;
        margin-bottom: 0;
        padding-bottom: 0;     
        grid-auto-rows: 160px;
    }

    .grid-container-albums {
        grid-template-columns: 1fr;
    }

    img {
        /* display: block; */
        max-height: 100%;
        height: auto;
        width: 100%;
    }
    footer {
        display: block;
        justify-content: center;
        text-align: center;
    }
    nav ul {
        justify-content: center;
    }
}