/* styling for the body */
body {
    font-family: 'Vollkorn', sans-serif;
    margin: 0;
    background-color: #0a0a0a;
    color: rgb(214, 214, 214);
    padding: 56px;
}

.container {
    width: 1240px;
    margin: 0 auto;
    padding: 0;
}

section {
    margin: 50px auto;
}
hr {
    border: none;
    border-bottom: 1px solid #666666;
}

/* header styling starts here */
header {
    text-align: center;
    font-size: 1.8rem;
    padding: 60px 0 0 0;
}

/* image styling */
header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* heading styling */
header h1 {
    font-weight: 900;
    padding: 0;
    margin: 20px 0 -10px 0 ;
    color: #FFFFFF;
    font-size: 1.65em;
    line-height: 0.5;
}

/* paragraph styling */
header p {
    line-height: 1.3;
    font-size: 2.13rem;
    padding: 0 75px;
    margin-bottom: 60px;
}

/* header divider */
header hr {
    background-color: #3a3a3a00;
    height: 4px;
    border-top: none;
    border-bottom: 3px double #6f6f6f;
    border-left: none;
    border-right: none;
}

/* links styling */
a {
    text-decoration: none;
    transition: color 150ms ease-in-out;
}

a:link {
    color: yellow;
}
a:visited {
    color: yellow;
}
a:hover {
    color: grey;
}
a:active {
    color: rgb(66, 33, 33);
}
/* header styling ends here */



/* container styling starts here. content in grid blocks */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 2fr 0.85fr);
    grid-row-gap: 24px;
    grid-column-gap: 25px;
}

.grid-item {
    background-color:#3a3a3a00;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    height: auto;
    min-height: 300px;
}

.grid-item:hover {
    background-color:#3a3a3a80;
}

/* grid img styling starts here */
.grid-img {
    min-height: 100px;
}

.grid-img span {
    padding-top: 3px;
    display: block;
    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 0.7em;
    color: #808080;
}

/* grid images */
.grid-item1 {
    background-image: url(../img/s1.jpg);
}
.grid-item2 {
    background-image: url(../img/s2.jpg);
}
.grid-item3 {
    background-image: url(../img/s3.gif);
}
.grid-item4 {
    background-image: url(../img/s4.jpg);
}
.grid-item5 {
    background-image: url(../img/s5.gif);
}
.grid-item6 {
    background-image: url(../img/s6.jpg);
}
.grid-item7 {
    background-image: url(../img/s7.gif);
}
.grid-item8 {
    background-image: url(../img/s8.gif);
}
.grid-item9 {
    background-image: url(../img/s9.jpg);
}

/* heading styling */
h2 {
    font-weight: 700;
    color: #fff;
    font-size: 2.9375rem;
    text-align: center;
}

h3 {
    font-weight: 400;
    color: yellow;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 1.6em;
}

/* photography grid content styling starts here */
.grid-container-photography {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.grid-container-photography .grid-item {
    min-height: 400px;
    height: auto;
}
/* photography images starts here */
.grid-item10 {
    background-image: url(../img/p1.jpg);
}
.grid-item11 {
    background-image: url(../img/p2.jpg);
}
.grid-item12 {
    background-image: url(../img/p3.jpg);
    grid-row: span 2;
    grid-column: span 2;
}
.grid-item13 {
    background-image: url(../img/p4.jpg);
}
.grid-item14 {
    background-image: url(../img/p5.jpg);
}

.grid-container-albums {
    grid-column-gap: 25px;
    grid-row-gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.grid-container-albums .grid-item {
    min-height: 300px;
    height: auto;
}

.grid-item15 {
    background-image: url(../img/c1.jpg);
}
.grid-item16 {
    background-image: url(../img/c2.jpg);
}
.grid-item17 {
    background-image: url(../img/c3.jpg);
}
.grid-item18 {
    background-image: url(../img/c4.jpg);
}

.grid-container-albums .grid-img {
    text-align: center;
    font-size: 1.2em;
}
.grid-container-albums .grid-img h3 {
    font-size: 1em;
}


footer {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
}

nav li {
    list-style: none;
    font-size: 1.25em;
    margin-right: 20px;
}
.footer-container {
    padding: 50px 0;
}
footer div {
    height: auto;
    width: 100%;
    display: flex;
    font-size: 1.25em;
    align-items: flex-end;
    justify-content: flex-end;
}